

<nav class="navbar navegador bg-dark navbar-dark ">
  <a  class="ml-3 nuevo navbar-brand " (click)="displayOn()">NUEVO EVENTO</a>
</nav>




<!--Contenedor principal-->
<div class="mt-5 container-fluid">
  <div class="row">
    
    <div class="row">
      <div class="col-12  mt-3">
        
          <div [ngClass]="{'display': display, 'display-on': !display, 'nuevo-evento': true}" >
            <div class="container-fluid">
              <div  [ngClass]="{'display': display, 'display-on': !display, 'nuevo-evento': true, 'row': true}">
                <div class="col-2 ">
                  <app-eventos (enviarEvento)="agregarEvento($event)" ></app-eventos>
                </div>
                
              </div>
              
            </div>
            
          </div>
      </div>
    </div>
    <!-- INPUTS-->
    
    <!--Fin Inputs-->
    <!--Lista eventos-->
    
    <div class="col-12">
      <app-listaeventos (participantes)="sumarParticipantes($event)" (modificar)="modificar($event)" (eliminarEvento)="eliminarEvento($event)" [listaEventos]="arrEventos"></app-listaeventos>
    </div>
      
    
    <!--Lista eventos-->
  </div>
</div>