
.desactivado{
    text-decoration: line-through;

}

.desactivado input{
    pointer-events: none;
    background-color: #ffeeba;
    color: #ffeeba;
}
.desactivado button{
    pointer-events: none;
}

.completo input{
    pointer-events: none;
  
}

.align{
    text-align: center;
}

.tabla-general{
    color: rgb(66, 66, 66);
}

.tabla-general:hover{
    color: black !important   ;
}